* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #333;
  height: 100%;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}

#app {
  height: 100%;
}

.time-text {
  line-height: 50vh;
  height: 100%;
  color: #fff;
  font-size: 40vh;
  text-align: center;
}

.invisible {
  visibility: hidden;
}
