* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #333;
  height: 100%;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}

#app {
  height: 100%;
}

.content {
  height: 100%;
  color: #fff;
  text-align: center;
}

.day-text {
  line-height: 35vh;
  font-size: 35vmin;
}

.time-text {
  line-height: 65vh;
  font-size: 65vmin;
}

.invisible {
  visibility: hidden;
}
